.header {
  background-color: #f3f3f3;
  display: flex;
  border-bottom: 2px solid #f4f4f4;
}

.link {
  font-size: 22px;
  color: #666;
  line-height: 1.2;
  font-weight: 500;
  padding-top: 19px;
  padding-bottom: 19px;
  text-decoration: none;
  display: block;
  padding: 20px;
  box-sizing: border-box;
}

.link:hover {
  transition: color ease 0.3s;
  color: #555;
}

.activeLink {
  color: #555;
  border-bottom: 3px solid #ffcd4c;
}
